Project 2/Library
Project 2/.vs/Project 2/v16/.suo
Project 2/.vs/Project 2/v16/.suo
Project 2/Assembly-CSharp.csproj
Project 2/Assembly-CSharp.csproj
Project 2/.vs/Project 2/v16/.suo
Project 2/Temp/UnityLockfile
Project 2/Assets/Scenes/HomeScreen/Assets/BackGroundUI.mp4.meta
Project 2/Assembly-CSharp.csproj
